@import 'nib'

// Great baseline colors from http://designmodo.github.io/Flat-UI/
flat_turquoise ?= #1ABC9C
flat_green_sea ?= #16A085

flat_emerald ?= #2ECC71
flat_nephritis ?= #27AE60

flat_peter_river ?= #3498DB
flat_belize_hole ?= #2980B9

flat_amethyst ?= #9B59B6
flat_wisteria ?= #8E44AD

flat_wet_asphalt ?= #34495E
flat_midnight_blue ?= #2C3E50

flat_sun_flower ?= #F1C40F
flat_orange ?= #F39C12

flat_carrot ?= #E67E22
flat_pumpkin ?= #D35400

flat_alizarin ?= #E74C3C
flat_pomegranate ?= #C0392B

flat_clouds ?= #ECF0F1
flat_silver ?= #BDC3C7

flat_concrete ?= #95A5A6
flat_asbestos ?= #7F8C8D

.no-room
  display: none

@media (max-height: 28em)
  .no-room
    display: block
  .yes-room
    display: none

html, body
  width: 100%
  height: 100%
  overflow: hidden

body
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 300
  font-size: 26px
  line-height: 1.5em
  color: flat_midnight_blue
  font-feature-settings: 'kern'
  -moz-font-feature-settings: 'kern'
  -webkit-font-feature-settings: 'kern'

  @media (max-width: 767px)
    font-size: 20px

html.basehold body
  position: relative

  &:after
    position: absolute
    width: auto
    height: auto
    z-index: 9999
    content: ''
    display: block
    pointer-events: none
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: url('http://basehold.it/image.php?height=39') repeat top left

    @media (max-width: 767px)
      background: url('http://basehold.it/image.php?height=30') repeat top left

  &:active:after
    display: none

h1, h2, h3, h4, h5, h6
  line-height: 2em
  text-align: center
  margin: 0
  margin-top: 1em

h1
  font-size: 1.5em

h2, h3, h4, h5, h6
  line-height: 1.5em
  font-size: 1em
  margin: 0

p
  margin-top: 1.5em
  margin-bottom: 1.5em

.btn
  border: none
  border-radius: 0
  font-size: 1em
  font-weight: 300
  padding: 0.75em 0
  line-height: 1.5em

.btn-lg
  font-size: 1.5em

.btn-success
  background: flat_emerald
  &:active, &:focus
    background: @background
  transition: background .1s linear
  &:hover
    background: flat_nephritis

.btn-danger
  background: flat_alizarin
  &:active, &:focus
    background: @background
  transition: background .1s linear
  &:hover
    background: flat_pomegranate

h1, h2, h3, h4, h5, h6, .headline, .fancy
  font-family: 'Trocchi', Georgia, serif

.headline
  height: 12em

  @media (min-width: 768px)
    height: 9em

.answers
  ul
    margin: 0
    padding: 0
    font-family: Monaco, Menlo, monospace
    list-style-type: none

.animoot
  opacity: 0

.social-btns
  margin: 1.5em 0

.btn-facebook
.btn-twitter
  color: flat_clouds
  transition: background .1s linear
  &:hover
    color: flat_clouds

.btn-facebook
  background: #3b5998
  &:hover, &:active, &:focus
    background: darken(@background, 10%)
    color: flat_clouds
.btn-twitter
  background: #4099FF
  &:hover, &:active, &:focus
    background: darken(@background, 10%)
    color: flat_clouds

.btn-about
  position: fixed
  top: 1em
  left: 1em
  border: 1px solid flat_midnight_blue
  color: flat_midnight_blue
  height: 2em
  width: 2em
  padding: 0
  font-size: 0.5em
  line-height: 1.75em
  text-align: center
  z-index: 10

.about
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  overflow-y: auto
  padding: 0em 1em
