<template name="about">
  <div class="about">
    <div class="row animoot">
      <div class="col-sm-8 col-sm-offset-2">
        <p>Pe mine mă cheamă Theo. Îmi găsești site-ul personal <a href="http://vararu.org/" target="_blank">aici</a>.</p>
        <p>Ideea pentru aplicația asta mi-a venit la muncă la <a href="http://readfwd.com/" target="_blank">ReadForward</a>. Uneori, când cineva din birou menționa un titlu de articol, era neclar dacă era la mișto (de pe TNR, de regulă) sau pe bune. Am început să fac o listă, care a devenit site-ul ăsta.</p>
        <p>Sper că se subînțelege că nu am niciun fel de afiliere cu TNR sau vreunul din site-urile de știri vizate de întrebări.</p>
        <p>Codul sursă e pe <a href="https://github.com/tvararu/comicsans.ro" target="_blank">GitHub</a>.</p>
        <p>Sugestii și reclamații la mine pe <a href='mailto:theo@vararu.org'>mail</a>.</p>
      </div>
    </div>
  </div>
</template>
