<template name="play">
  <div class="play row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1>Score: {{> score}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          {{> postShow}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="gameover">
  <div class="gameover row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1>Atât. Scor final: {{> score}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <a href="{{pathFor 'play'}}" class="btn btn-success btn-block">Hai din nou!</a>
        </div>
      </div>
    </div>
  </div>
</template>