<template name="stats">
  <div class="row">
    <div class="stats">
      <h1>Pagină în construcție. More goodies coming soon!</h1>
      <div class="col-md-6">
        <p>
          Răspunsuri înregistrate: <strong class="count">{{answersCount}}</strong>.
          <br>
          Iată ultimele 10, în timp real, cu cele corecte pe fundal verde.
        </p>
        <table class="table">
          <thead>
            <tr>
              <td><i class="fa fa-fw fa-question"></i></td>
              <td>Articol</td>
              <td>Ora</td>
            </tr>
          </thead>
          <tbody>
            {{#each answers}}
              {{> answer}}
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-8">
            <canvas class="chart" id="doughnut-chart-scores"></canvas>
          </div>
          <div class="col-sm-4">
            <div class="legend">
              <table class="table">
                <tbody>
                  <tr><td>0 - 10</td><td>{{getPublishedCount 'scoresCount0to10'}}</td></tr>
                  <tr><td>11 - 15</td><td>{{getPublishedCount 'scoresCount11to15'}}</td></tr>
                  <tr><td>16 - 20</td><td>{{getPublishedCount 'scoresCount16to20'}}</td></tr>
                  <tr><td>21 - 25</td><td>{{getPublishedCount 'scoresCount21to25'}}</td></tr>
                  <tr><td>26 - 29</td><td>{{getPublishedCount 'scoresCount26to29'}}</td></tr>
                  <tr><td>30</td><td>{{getPublishedCount 'scoresCount30'}}</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <p>
          Scoruri înregistrate: <strong class="count">{{scoresCount}}</strong>.
          <br>
          Iată ultimele 10, în timp real, cu cele de maxim pe fundal verde.
        </p>
        <table class="table">
          <thead>
            <tr>
              <td>Scor</td>
              <td>Data și Ora</td>
            </tr>
          </thead>
          <tbody>
            {{#each scores}}
              {{> highscore}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<template name="answer">
  <tr class="{{isCorrectRow}}"><td><i class="fa fa-fw {{isCorrectIcon}}"></i></td><td>{{articleSnippet}}</td><td>{{submitted}}</td></tr>
</template>

<template name="highscore">
  <tr class="{{maxScoreRow}}"><td>{{value}}</td><td>{{submitted}}</td></tr>
</template>
