<template name="winrar">
  <div class="winrar row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 animoot">
          <h1>Le-ai luat pe toate!</h1>
          <p class="text-center">Nu-ți face griji, nu spun la nimeni câte încercări ți-a luat.</p>
          <h2>Ai nimerit {{> score}}!</h2>
          <div class="social-btns btn-group btn-block clearfix">
            {{> shareButtons}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <button class="try-again btn btn-success btn-block animoot">Mai vreau!</button>
        </div>
      </div>
    </div>
  </div>
</template>
